body{
    height:95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color: darkgreen;
    font-size: 50px;


.container{
    border: 2px;
    border-color: aliceblue;
}